<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="end" >
      <ion-button [routerLink]="['/formulario',false]" routerLinkActive="router-link-active" >
        <ion-icon name="add-outline" style="font-size: 2rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="reorder-four-outline" style="font-size: 2rem;" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <h1>ContabilidApp</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--ion-background-color: rgb(233, 233, 233);">
  <div style="padding: 0.5rem 0.5rem;">
    <ion-grid style="background-color: rgb(255, 255, 255); " class="shadow rounded">
      <!-- Titulos ed la tabla -->
      <ion-row class="thead">
        <ion-col size="6">
          <strong>Datalle</strong>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <strong>Ingresos</strong>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <strong>Egresos</strong>
        </ion-col>
      </ion-row>
      <div>
        <div *ngFor="let item of asientos">    
        <ion-row (click)="verMas(item.id)">
          <ion-col size="6">
            <ion-label lines="none" style="padding: 0; color: black;">
              {{item.titulo}} 
            </ion-label>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-label style="color: springgreen; text-align: center;" *ngIf="item.debe">{{item.debe}}</ion-label>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-label style="color: rgb(255, 20, 20);  text-align: center;" *ngIf="item.haber">{{item.haber}}</ion-label>
          </ion-col>
        </ion-row>
        <div *ngIf="info == item.id" class="scale-up-center">
          <div class="card card-body">
            <div>
              Nombre: <strong>{{item.titulo}}</strong>
            </div>
            <div>
              Fecha:  <strong>{{item.date.toDate() | date: "d/M/yy EEEE, d MMMM"}}</strong>
            </div>
            <div *ngIf="item.detalle">
              <hr class="bg-dark">
              {{item.detalle}}
              <footer>
                <small class="form-text text-muted">Texto Adjunto</small>
                <hr class="bg-dark">
                
              </footer>

            </div>
            <div style="text-align: center;">
                  <ion-row>
                    <ion-col>
                      <button class="btn btn-warning" (click)="editarAsiento(item)">Editar</button>
                    </ion-col>
                    <ion-col>
                      <button class="btn btn-danger" (click)="eliminarAsiento(item.id)">Eliminar</button>
                    </ion-col>
                  </ion-row>
                </div>
          </div>
        </div>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;" *ngIf="resultado < 0">Saldo total: <strong style="color: red;">${{resultado}}</strong></ion-title>
    <ion-title style="text-align: center;" *ngIf="resultado > 0">Saldo total: <strong style="color: rgb(0, 255, 13);">${{resultado}}</strong></ion-title>
  </ion-toolbar>
</ion-footer>
